{% extends "shop/base.html" %}
{% load static %}
{% block title %}
	{% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
	<div class="product_detail">
		<img class="thumbnail" src="{% if product.image %}{{ product.image.url }} {% else%} http://placehold.it/200x200 {% endif %} ">
		<h1>{{product.name}}</h1>
		<h2><a href="{{product.category.get_absolute_url}}">{{product.category}} </a></h2>
		<p class="price"> ${{product.price }}</p>
		<div class="row">
		<div class="large-4 column">
		<form action="{% url 'cart:cart_add' product.id %}" method="post">
		{{ cart_product_form }}
		{% csrf_token %}
		<input class="button" type="submit" value="Add to Cart">
		</form>
		</div>
		{{ product.description| linebreaks }}
	</div>
{% endblock %}